<!doctype HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kropotkin - Home</title>
  </head>
  <body>
    <header>
      <h1>Kropotkin - Home</h1>
    </header>

    <p>
      Kropotkin is a framework that expressly encourages the practise of
      Continuous Rewriting. It does this by making it easy (and in fact
      mandatory) to create your application from a large number of very loosely
      coupled, miniscule components, which co-operate via a shared factspace
      containing immutable facts about the business domain.
    </p>

    <p>
      This page is a both an introduction to Kropotkin and a table of contents
      of sorts, linking you to various elements of this Kropotkin instance and
      providing a guide to their usage.
    </p>

    <p>
      Notice that the page is "live" - as data arrives and processes start or
      finish, the lists on the page update themselves right away. It's natural
      to create "live" pages like this in the Kropotkin framework.
    </p>

    <section>
      <h2>Facts</h2>
      <p>
        Facts are the basic unit of data in a Kropotkin system. A fact is
        immutable and public; it should describe something about the domain
        that your Kropotkin system is designed for.
      </p>

      <p>
        This Kropotkin system currently contains
        <span data-num-facts>...</span>
        facts.
      </p>

    <section>
      <h2>Factspaces</h2>
      <p>
        Factspaces contain collections of related facts. A set of special facts
        called the <em>constitution</em> describe what facts can be stored in
        a factspace.
      </p>

      <p>
        This instance of Kropotkin currently contains the factspaces listed
        below.
      </p>
      <ul data-factspaces>
      </ul>
    </section>

    <section>
      <h2>Components</h2>
      <p>
        Components are very small units of computation. They read and write
        facts as well as interacting with the larger environment.
      <p>
        This instance of Kropotkin currently contains the components listed
        below.
      </p>
      <ul data-components>
      </ul>
    </section>

    <footer>
      <p>Copyright Douglas Squirrel 2013</p>
    </footer>

    <script type="text/javascript" src="kropotkin-js"></script>
    <script type="text/javascript" src="kropotkin_home.js"></script>
    <script type="text/javascript">
      report_deployment('kropotkin_home.html');
    </script>
  </body>
</html>
