<!doctype HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kropotkin - Component Monitoring</title>
  </head>
  <body>
    <header>
      <h1>Kropotkin - Component Monitoring</h1>
    </header>

    <section>
      <table border="1">
      <caption>Components</caption>
        <thead>
          <tr>
            <th>Component</th>
            <th>Location</th>
            <th>ID</th>
            <th>stdout</th>
            <th>stderr</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody data-components>
        </tbody>
      </table>
    </section>

    <section>
      <h1>Code</h1>
      <div data-code>
      </div>
    </section>

    <footer>
      <p>Copyright Douglas Squirrel 2013</p>
    </footer>

    <script type="text/javascript" src="kropotkin-js"></script>
    <script type="text/javascript" src="tarfile.js"></script>
    <script type="text/javascript" src="monitor-components.js"></script>
    <script type="text/javascript">
      report_deployment('monitor-components.html');
    </script>
  </body>
</html>
