<!doctype HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kropotkin - Statement Monitoring</title>
  </head>
  <body>
    <header>
      <h1>Kropotkin - Statement Monitoring</h1>
    </header>

    <header>
      <h2>Factspace:
        <select data-factspace><option selected>kropotkin</option></select>
      </h2>
    </header>

    <section>
      <table border="1">
      <caption>Constitution</caption>
        <thead>
          <tr>
            <th>Type</th>
            <th>Keys</th>
            <th>Translation</th>
            <th>See Statements</th>
            <th>Insert Fact</th>
          </tr>
        </thead>
        <tbody data-constitution>
        </tbody>
      </table>
    </section>

    <section>
      <table border="1">
      <caption>Statements</caption>
        <thead>
          <tr>
            <th>Time</th>
            <th>Confidence</th>
            <th>Component</th>
            <th>Content</th>
          </tr>
        </thead>
        <tbody data-statements>
          <tr><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td></tr>
          <tr><td></td><td></td><td></td><td></td></tr>
        </tbody>
      </table>
    </section>

    <section>
      <h1>Insert Fact</h1>
      <div data-insert-fact>
      </div>
    </section>

    <footer>
      <p>Copyright Douglas Squirrel 2013</p>
    </footer>

    <script type="text/javascript" src="kropotkin-js"></script>
    <script type="text/javascript" src="monitor-factspaces.js"></script>
    <script type="text/javascript" src="monitor-statements.js"></script>
    <script type="text/javascript" src="monitor-constitution.js"></script>
    <script type="text/javascript">
      report_deployment('monitor-statements.html');
    </script>
  </body>
</html>
