<!doctype HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kropotkin - Factspace Monitoring</title>
    <script type="text/javascript" src="kropotkin-js"></script>
    <script type="text/javascript" src="monitor-statements.js"></script>
    <script type="text/javascript" src="monitor-components.js"></script>
  </head>
  <body>
    <header>
      <h1>Kropotkin - Factspace Monitoring</h1>
    </header>

    <header>
      <h2>Factspace: <span data-factspace>Kropotkin</span></h2>
    </header>

    <section>
      <!-- add title -->
      <table border="1">
        <thead>
          <tr>
            <th>Component</th>
            <th>Latest Fact</th>
          </tr>
        </thead>
        <tbody data-components>
        </tbody>
      </table>
    </section>

    <section>
      <!-- add title -->
      <table border="1">
        <thead>
          <tr>
            <th>Time</th>
            <th>Confidence</th>
            <th>Component</th>
            <th>Text</th>
          </tr>
        </thead>
        <tbody data-statements>
        </tbody>
      </table>
    </section>

    <footer>
      <p>Copyright Douglas Squirrel 2013</p>
    </footer>
  </body>
</html>
